<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>購入品確認</title>
<link th:href="@{/css/common/header.css}" rel="stylesheet">
<link th:href="@{/css/common/footer.css}" rel="stylesheet">
<link th:href="@{/css/pages/purchase_confirm.css}" rel="stylesheet">
</head>
<body>
	<header th:replace="~{common/header :: layout-header}"></header>
	
	<h1 class="purchase-confirm__title">購入品確認画面</h1>
	
	<div class="purchase-confirm">
		<p>名前：	<span th:text="${user.userName}"></span></p>
		<p>住所：
			<span th:text="${purchaseForm.receivePlace.name() == 'REGISTERED' ? user.userAddress : purchaseForm.newAddress}">
	  		</span>
	  	</p>
		<p>アパート名：
			<span th:text="${purchaseForm.receivePlace.name() == 'REGISTERED' ? user.buildingAddress : purchaseForm.newBuilding}">
	  		</span>
		</p>
		
		<div th:if="${cartItems != null}">
	  		<div th:each="cart : ${cartItems}">
	    		<p>
	      			商品名：
	      			<span th:text="${cart.product.productName}"></span>
	    		</p>
	    		<p>
	      			個数：
	      			<span th:text="${cart.quantity}"></span>
	    		</p>
	  		</div>
		</div>
		
		<div th:if="${product != null}">
	  		<p>
	    		商品名：
	    		<span th:text="${product.productName}"></span>
	  		</p>
	  		<p>
	    		個数：
	    		<span th:text="${quantity}"></span>
	  		</p>
		</div>
	
		<p>合計金額：<span th:text="${totalPrice}"></span> 円</p>
		<p>税込金額：<span th:text="${totalTaxPrice}"></span> 円</p>
	</div>
		
	<div class="btn-group">
		<form th:action="@{/purchase/input}" method="get">
			<button class="btn-edit" type="submit">編集</button>
		</form>
		
		<form th:action="@{/purchase/complete}" method="post" id="purchaseForm">
			<button class="btn-purchase" type="submit">購入</button>
		</form>
	</div>	
	
	<p id="payMethodError"></p>
	
	
	<footer th:replace="~{common/footer :: layout-footer}"></footer>
</body>
</html>