@charset "UTF-8";

h2 {
	margin-left: 50px;
}

.item-list {
	display: flex;
	flex-wrap: wrap;
  	gap: 12px;
  	margin-left: 60px;
  	margin-bottom: 60px;
}

.item-list__card {
	width: 250px;
	height: 400px;
	border: 2px solid #ccc;
	background-color: white;
}

.item-list__img {
	width: 250px;
	height: 200px;
	object-fit: contain;
}

.item-list__img:hover {
	opacity: 0.8;
}

.item-list__info {
	padding-left: 20px;
}
